<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title text-center>User Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2 text-center style="color: #f25454; padding: 5% 0% 5% 0%;">Create Account</h2>
  <form [formGroup]="signUpForm" >
    <ion-item>
      <ion-label style="font-size: 15pt" position="floating"><ion-icon name="person"></ion-icon>Name</ion-label>
      <ion-input style="font-size: 13pt" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15pt" position="floating"><ion-icon name="person"></ion-icon> Surname</ion-label>
      <ion-input style="font-size: 13pt" formControlName="surname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15pt" position="floating"><ion-icon name="mail"></ion-icon> Email</ion-label>
      <ion-input style="font-size: 13pt" formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 15pt" position="floating"><ion-icon name="lock"></ion-icon>Password</ion-label>
      <ion-input style="font-size: 13pt" formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button style="margin-top: 4%;" expand="full" color="danger" shape="round" [disabled]="!signUpForm.valid" (click)="register()">Submit</ion-button>
  </form>
</ion-content>
